mainContainer{
    padding: 5px;
    width: 700px;
    border: 4px solid black;
    border-radius: 5px;
    font-family: Arial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
h2{
    text-align: left;
    margin-left: 100px;
}
h3{
    text-align: center;
}
.full-width{
    grid-column: 1/3;
}
.mainImageContainer{
    display: grid;
    grid-column: 1/3;
    justify-items: center;

}
.mainImage{
    width: 400px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

.inputContainer{
    border: 1px solid black;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    grid-column: 1/3;
}
form{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 10px;
    grid-column: 1/3;
}

.radioP{
    margin-left: 20px;
}
.button{
    margin-left: 20px;
}

.graphContainer{
    display: grid;
    grid-column: 1/3;
    justify-items: center;

}
.box {
    /*position: relative;
    flex: 0 100%;*/

}
.imgSize{
    /*width: 600px;
    height: 300px;*/
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
    border: solid black;
    /*position: relative;*/
    /*flex: 0 100%;*/
}
label{
    display: inline-block;
    vertical-align: baseline;
    width: 200px;


}
input{
    display: inline-block;
    vertical-align: baseline;
    width: 30%;

}
form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.message{
    color: blue;
    font-size: 20px;
}